button {
    background: white;
    border: 1px solid #157CB1;
    border-radius: 3px;
    padding: 6px 15px;
    color: #157CB1;
    cursor: pointer;
    outline: 0;
    transition: color 0.15s ease-out, background 0.15s ease-out;
}

button:hover {
    color: white;
    background: #157CB1;
}