<div class="container">
  <p>{{ message }}</p>
  <input type="text" v-model="message">

  <p>{{ count }}</p>
  <button @click.prevent="count = count + 1">Click me!</button>
</div>

<style scoped lang="scss">
.container {
  padding: 20px;
  background: cyan;
}
</style>

