$transparent: #00000000;

$back-color: #f5f5f5;
$back-color-hover: #00000033;
$back-color-active: #00000055;
$back-color-disabled: #f9f9f9 !important;

$face-color: #4d4e4e;
$face-color-hover: #157cb1;
$face-color-active: #056192;
$face-color-disabled: #989898 !important;

$animation-time: 0.15s;

@mixin clickable {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  text-decoration: none;
  transition: background $animation-time ease-out, color $animation-time ease-out;
  cursor: pointer;
  
  &:hover {
    background: $back-color-hover;
  }
  &.active,&:hover {
    color: $face-color-hover;
  }
  &:active {
    background: $back-color-active;
    color: $face-color-active;
  }
}

@mixin item {
  flex-direction: column;
  text-align: center;
  @include clickable;
  color: $face-color;
  background: $back-color;

  .icon {
    background: $face-color;
    transition: background $animation-time ease-out;
  }
  
  &.disabled {
  user-select: none;
  cursor: not-allowed;
  background: $back-color-disabled;
  color: $face-color-disabled;
    .icon {
      background: $face-color-disabled;
    }
  }

  &.active,&:hover {
    .icon {
      background: $face-color-hover;
    }
  }
  &:active {
    .icon {
      background: $face-color-active;
    }
  }
}
