<default-title-view title="Create view">
  <p>On this page:</p>
  <ul>
    <li>Button to [list] page</li>
    <li>Secondary dummy in middle</li>
    <li>Primary dummy in main</li>
  </ul>
  <p>Actual create content</p>
  <button @click='presenter.goToList()'>List</button>
  <dummy-2></dummy-2>
</default-title-view>
