<a class="item"
  v-bind:class='map("active", isActive)'
  @click.prevent="item.getAction().accept(item)"
  v-bind:href="item.getHref()">
    <div v-mask="item.getIcon()" class="icon"></div>
    <div class="label">{{ item.getName()) }}</div>
</a>

<style scoped lang="scss">
@import "../../variables.scss";

.item {
  padding: 7px 0px;
  
  @include item;
  
  .icon {
    width: 32px;
    height: 32px;
  }
  .label {
    font-size: 12px;
  }
}
</style>
