<transition name="switch-transition" mode="out-in"
      v-on:before-enter="beforeEnter"
      v-on:enter="enter"
      v-on:after-enter="afterEnter"
      v-on:before-leave="beforeLeave">
  <slot></slot>
</transition>
