@import "../../variables.scss";

$transition-time: .2s;

.collapse-transition-enter-active, .collapse-transition-leave-active {
  transition: width $transition-time ease-out, opacity $transition-time ease-out;
}
.collapse-transition-enter, .collapse-transition-leave-to {
  opacity: 0;
  width: 0 !important;
}

.switch-transition-enter-active, .switch-transition-leave-active {
  transition: width 3s ease-out, opacity 3s ease-out;
}
.switch-transition-enter, .switch-transition-leave-to {
  opacity: 0;
}

#app {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 100px min-content 5fr;
  
  &.closed {
    #aer-content {
      #slider {
        img {
          transform: rotate(180deg);     
        }
      }
    }
  }

  #aer-content {
    position: relative;
    transition: width $animation-time ease-out;
    overflow: hidden;
    min-width: 50px;
  
    #slider {
      @include clickable;
      width: 50px;
      height: 50px;
      cursor: pointer;
      position: absolute;
      right: 0px;
      top: 0px;
      
      img {
        transition: transform $animation-time ease-out;
        width: 32px;
        height: 32px;
      }
    }
  }

  #aer-main {
    background: #cca;
  }
}