<div id="app" v-bind:class='map("closed", closed)'>
  <aer-nav :config="navConfig" id="aer-nav" :eventBus="eventBus"> </aer-nav>
  <div id="aer-content">
    <horizontal-collapse>
      <div id="content" v-if="!closed">
        <horizontal-switch>
          <slot></slot>
        </horizontal-switch>
      </div>
    </horizontal-collapse>
    <div id="slider" @click="closed = !closed">
      <img v-bind:src="img.collapseButton().getSafeUri().asString()" />
    </div>
  </div>
  <div>
    <p>Main:</p>
    <slot name="main"></slot>
  </div>
</div>
  