<vue-gwt:import class="nl.overheid.aerius.wui.application.util.Theme" />

<div id="overview">
  <aer-header-bar></aer-header-bar>

  <div class="top">
    <aer-import></aer-import>
  </div>
  
  <section class="library">
    <a v-for="Theme theme in themes" class="item"
      @click.prevent="presenter.selectTheme(theme)"
      v-bind:class='map("disabled", !theme.isEnabled())'>
      <div v-mask="theme.getIcon()" class="icon"></div>
      <div class="label">{{ i18n.themeName(theme.getOption()) }}</div>
    </a>
  </section>
</div>
