<aer-main :navConfig="navigation" :eventBus="eventBus">
  <component :is="input" :presenter="subPresenter">
  </component>
  <div slot="main" id="main">
    <component :is="main"></component>
  </div>
</aer-main>

<style scoped>
.component-fade-enter-active, .component-fade-leave-active {
  transition: width 0.1s ease, opacity .1s ease;
}
.component-fade-enter, .component-fade-leave-to {
  opacity: 0 !important;
  width: 0 !important;
}
</style>