/* Font RijksoverheidSansText */
@font-face {
  font-family: "RO-Sans-Text";
  src: url(/fonts/ROsanswebtextregular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RO-Sans-Text";
  src: url(/fonts/ROsanswebtextitalic.woff) format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "RO-Sans-Text";
  src: url(/fonts/ROsanswebtextbold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

/* Font RijksoverheidSerif */

@font-face {
  font-family: "RO-Serif";
  src: url(/fonts/ROserifwebregular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RO-Serif";
  src: url(/fonts/ROserifwebitalic.woff) format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "RO-Serif";
  src: url(/fonts/ROserifwebbold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

html,
body {
  min-height: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: "RO-Sans-Text", Arial, Sans-Serif;
  font-size: 12pt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #222;
  
  display: flex;
}
